In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("data/train_imputed.csv")
data.head()

   Unnamed: 0                       image_id  label
0           0         1000015157original.jpg      0
1           1          1000015157rotated.jpg      0
2           2    1000015157vertical_flip.jpg      0
3           3  1000015157horizontal_flip.jpg      0
4           4         1000201771original.jpg      3

In [8]:
better_sampled = pd.DataFrame()

threes = data.loc[data['label'] == 3]
threes = threes.sample(frac=0.19)
print(len(threes))

rest = data.loc[data['label'] != 3]

better_sampled  = pd.concat([rest, threes])

better_sampled.value_counts()

10000

Unnamed: 0  image_id                       label
85587       999998473horizontal_flip.jpg   4        1
28581       2275346369rotated.jpg          2        1
28579       2274473837horizontal_flip.jpg  0        1
28578       2274473837vertical_flip.jpg    0        1
28577       2274473837rotated.jpg          0        1
                                                   ..
56834       3538242745vertical_flip.jpg    1        1
56833       3538242745rotated.jpg          1        1
56832       3538242745original.jpg         1        1
56827       3537938630horizontal_flip.jpg  4        1
0           1000015157original.jpg         0        1
Length: 42956, dtype: int64

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85588 entries, 0 to 85587
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  85588 non-null  int64
 1   image_id    85588 non-null  object
 2   label       85588 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.0+ MB

In [62]:
data.describe()

         Unnamed: 0         label
count  85588.000000  85588.000000
mean   42793.500000      2.651914
std    24707.271757      0.988547
min        0.000000      0.000000
25%    21396.750000      2.000000
50%    42793.500000      3.000000
75%    64190.250000      3.000000
max    85587.000000      4.000000

In [63]:
data['label'].value_counts()

3    52632
4    10308
2     9544
1     8756
0     4348
Name: label, dtype: int64

In [59]:
from PIL import Image

paths = list(data['image_id'])
labels = list(data['label'])

new_paths = []
new_labels = []

names = ['rotated', 'vertical_flip', 'horizontal_flip']
functions = [Image.ROTATE_180, Image.FLIP_TOP_BOTTOM, Image.FLIP_LEFT_RIGHT]

for i in range(len(paths)):
    print(i)
    path = paths[i]
    label = labels[i]
    
    new_labels += [label, label, label, label]
    im  = Image.open("./data/train_images/" + path)
#     im  = Image.open("test.png")
    
    new_path_name = path[:-4] + "original.jpg"
    im.save("./data/train_images_imputed/" + new_path_name)
    new_paths.append(new_path_name)

    for j in range(3):
        new_path_name = path[:-4] + names[j] + ".jpg"
        new_image = im.transpose(functions[j])
        new_image.save("./data/train_images_imputed/" + new_path_name)
        
        new_paths.append(new_path_name)




    if i == 3:
        break
    
print(new_paths)
print(new_labels)

0
1
2
3
['1000015157original.jpg', '1000015157rotated.jpg', '1000015157vertical_flip.jpg', '1000015157horizontal_flip.jpg', '1000201771original.jpg', '1000201771rotated.jpg', '1000201771vertical_flip.jpg', '1000201771horizontal_flip.jpg', '100042118original.jpg', '100042118rotated.jpg', '100042118vertical_flip.jpg', '100042118horizontal_flip.jpg', '1000723321original.jpg', '1000723321rotated.jpg', '1000723321vertical_flip.jpg', '1000723321horizontal_flip.jpg']
[0, 0, 0, 0, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1]

In [49]:
new_data = pd.DataFrame()
new_data['image_id'] = new_paths
new_data['label'] = new_labels

new_data.to_csv("train_imputed.csv")

In [1]:

import pandas as pd

In [4]:
data = pd.read_csv("data/train.csv")

In [5]:
short = data[:100]

In [6]:
short.to_csv("data/short_train.csv")

In [7]:
short.head()

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3

In [8]:
DATA_FOLDER = 'data/train_images'
SAVE_FOLDER = 'data/short_images'

def process_image_and_save(image_file):
  if not os.path.isfile(f'{SAVE_FOLDER}/{image_file}'):
    preprocess = transforms.Compose(
      [
        transforms.Resize((224, 224)),
        transforms.ToTensor(),
        transforms.Normalize(mean=[0.485, 0.456, 0.406], std=[0.229, 0.224, 0.225]),
      ]
    )

    image = Image.open(f'{DATA_FOLDER}/{image_file}')
    image = image.convert('RGB')
    image = preprocess(image)
    save_image(image, f'{SAVE_FOLDER}/{image_file}')

In [11]:
import os

from PIL import Image
from torchvision import transforms
from torchvision.utils import save_image

i = 0
for image_path in short['image_id']:
  if i % 25 == 0:
    print(f'Processing image {i}')
  process_image_and_save(image_path)
  i += 1

Processing image 0
Processing image 25
Processing image 50
Processing image 75

In [12]:
total = len(data)
total

21397

In [17]:
num = 0
mapping = []
for i in range(1, 21398):
    mapping.append(num)
    if i % 100 == 0:
        num += 1
mapping

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 ...]

In [18]:
data['mapping'] = mapping

In [19]:
data.head()

         image_id  label  mapping
0  1000015157.jpg      0        0
1  1000201771.jpg      3        0
2   100042118.jpg      1        0
3  1000723321.jpg      1        0
4  1000812911.jpg      3        0

In [20]:
data.to_csv("train_with_mapping.csv")